<!DOCTYPE html>
<html>
<head>
  <title>Sushi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top ">
            <div class="container">
            <%= link_to 'Sushi App',root_path,id:"logo" %>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Find your Mentors", root_path %></li>
                <li><%= link_to "Sign in", '#' %></li>
            </ul>
            </div>
    </nav>




<%= yield %>

</body>
</html>
